<div id="news">
    <div id="topBar">
        <div>
            <button routerLink="/profile"><img src="../../assets/images/Arrow_left.svg" alt="back_arrow"/></button>
            <p>Super breaking news</p>
        </div>
        <div id="timer">
            <img src="../../assets/images/Alarmclock.svg" alt="timer"/>
            <p>05:00</p>
        </div>
    </div>
    <div id="main">
        <div id="fixed">
           <div></div>
           <div></div>
           <div></div>
           <div></div>
           <div></div>
        </div>
    </div>
</div>
