/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./Inter/Inter-VariableFont_slntwght.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}

.mr-2 {
  margin-right: 20px;
}

.gain {
  color: #6BC640;
}

.loss {
  color: #FB5151;
}

.final {
  margin-bottom: 40px;
}

.coin {
  height: 30px;
  width: 30px;
}

.text-thin {
  font-weight: 400;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#stocks #topBar {
  border-bottom: 2px solid rgba(34, 63, 128, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#stocks #topBar div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#stocks #topBar div img {
  margin-left: 10px;
}
#stocks #topBar div .coin {
  width: 23px;
  height: 30px;
}
#stocks #topBar div p {
  margin-left: 5px;
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #223F80;
}
#stocks #topBar p {
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #595959;
}
#stocks #topBar #timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#stocks #topBar #timer p {
  margin: 5px 20px 0px 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FF473F;
}
#stocks #main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#stocks #main #fixedNav {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100vw;
  height: 69px;
  background: #FFFFFF;
  box-shadow: 0px -3px 14px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#stocks #main #about {
  position: relative;
  width: 100vw;
  height: 50px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stocks #main #about p {
  margin-top: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #262626;
}
#stocks #main #about #statusButton {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#stocks #main #about #statusButton button {
  height: 50px;
  width: 50%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(34, 63, 128, 0.5);
  border-bottom: 3px solid rgba(34, 63, 128, 0.4);
}
#stocks #main #about #statusButton button:focus {
  color: #223F80;
  border-bottom: 3px solid #223F80;
}
#stocks #main #stockInfo {
  width: 100vw;
  height: 32px;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #223F80;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#stocks #main #stockInfo div {
  margin-left: 10px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#stocks #main #stockInfo div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
#stocks #main #stockInfo div a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
#stocks #main #content {
  height: 700px;
  overflow: hidden;
  overflow-y: scroll;
}
#stocks #main #content .top {
  background: rgba(34, 63, 128, 0.15);
}
#stocks #main #content .bottom {
  background: rgba(34, 63, 128, 0.1);
}
#stocks #main #content .row {
  width: 100vw;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#stocks #main #content .row #name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #292929;
  margin-left: 20px;
  width: 75px;
}
#stocks #main #content .row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stocks #main #content .row div p {
  margin: 2px;
  margin-left: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
#stocks #main #content .row div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#stocks #main #content .row #amount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #223F80;
  margin-right: 20px;
}/*# sourceMappingURL=stocks.component.css.map */