<div id="stocks">
                
    <div id="topBar">
        <div>
            <img class="coin" src="../../assets/images/coin.svg" alt="coin"/>
            <p>₹30,000</p>
        </div>
        <p>Buy/Sell</p>
        <div id="timer">
            <img src="../../assets/images/Alarmclock.svg" alt="timer"/>
            <p>05:00</p>
        </div>
    </div>
    <div id="main">
        <div id="fixedNav">
            <button routerLink="/profile">
                <img src="../../assets/images/User.svg" alt="User"/>
            </button>
            <button>
                <img src="../../assets/images/Chart_alt_fill.svg" alt="chart"/>
            </button>
            <button routerLink="/notification">
                <img src="../../assets/images/Message.svg" alt="message"/>
            </button>
        </div>
        <div id="stockInfo">
            <div>
                <p>Ram | ₹100 |</p><a class="gain">2%</a>
            </div>
           <div>
                <p>tar tar | ₹50 |</p> <a class="loss">2%</a>
           </div>
            <div>
                <p>Rip | ₹150 |</p> <a class="loss">2%</a>
            </div>
            <div>
                <p>tar tar | ₹50 |</p> <a class="loss">2%</a>
            </div>                        
        </div>
        <div id="about">
            <div id="statusButton">
                <button>Stocks</button>
                <button>Mutual fund</button>
                <button>Commodities</button>
            </div>
        </div>
        <div id="content">

            <div class="row top">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="gain">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>
            <div class="row bottom">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="loss">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>

            <div class="row top">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="loss">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>
            <div class="row bottom">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="gain">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>

            <div class="row top">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="loss">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>
            <div class="row bottom">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="gain">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>

            <div class="row top">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="loss">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>
            <div class="row bottom">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="gain">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>

            <div class="row top">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="loss">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>
            <div class="row bottom">
                <p id="name">Ram Dam</p>
                <div>
                    <p>₹100</p>
                    <div>
                        <img src="../../assets/images/gain.svg" alt="gain"/>
                        <p class="gain">2%</p>
                    </div>
                </div>
                <p id="amount">₹20,000</p>
            </div>
            
        </div>
    </div>
</div>
