@import "../../../../styles";

#portfolio {
  overflow: hidden;
  overflow-y: scroll;
  #topBar {
    border-bottom: 2px solid rgba(34, 63, 128, 0.4);
    @include flex(row, space-between, center);
    img {
      margin-left: 10px;
    }
    p {
      margin: 15px;
      margin-left: 50px;
      margin-bottom: 8px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #6a6a6a;
    }
    #timer {
      @include flex(row, space-between, center);
      p {
        margin: 5px 20px 0px 5px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #ff473f;
      }
    }
  }
  #main {
    @include flex(column, flex-start, center);
    height: 727px;
    overflow-y: scroll;
    img {
      margin-top: 40px;
    }
    .row {
      margin-top: 20px;
      @include flex(row, space-between, center);
      height: 30px;
      width: 288px;
      .column {
        @include flex(column, flex-start, flex-start);
        .content {
          height: 30px;
          @include flex(row, center, flex-end);
          p {
            margin: 0px;
            padding: 0px;
            margin-left: 10px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            color: #4f4f4f;
          }
        }
      }
    }
    #row1 {
      margin-top: 20px;
      @include flex(row, space-between, center);
      height: 30px;
      width: 340px;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #4f4f4f;
      }
    }
    #row2 {
      margin: 20px 0px;
      @include flex(row, space-between, center);
      height: 30px;
      width: 300px;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #4f4f4f;
      }
      hr {
        width: 25px;
        height: 0px;
        border: 2px solid rgba(34, 63, 128, 0.2);
        transform: rotate(90deg);
      }
      .rowContent {
        @include flex(row, space-around, center);
        img {
          margin: 5px;
        }
        #percentage {
          margin: 5px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          color: #fb5151;
        }
      }
    }
    .card {
      margin-top: 10px;
      width: 320px;
      height: 30px;
      background: rgba(34, 63, 128, 0.2);
      border-radius: 7px;
      padding: 10px 15px;
      padding-right: 5px;
      @include flex(row, space-between, center);
      #left {
        height: 42px;
        @include flex(row, center, center);
        p {
          margin: 0px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          color: #4f4f4f;
        }
        img {
          margin: 0px;
          margin-left: 5px;
          margin-bottom: 4px;
          height: 24px;
          width: 18px;
        }
      }
      #middle {
        height: 42px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #4f4f4f;
      }
      #last {
        height: 42px;
        @include flex(row, space-around, center);
        #amount {
          margin: 0px;
          @include flex(row, center, center);
          img {
            margin: 5px;
          }
          p {
            margin: 0px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
          }
          button {
            margin-left: 10px;
            // margin-bottom:5px;
          }
        }
      }
    }
    #expand {
      margin: 20px 0px;
      @include flex(column, center, center);
      // display:none;
      .row {
        margin: 0px;
        width: 320px;
        height: 30px;
        @include flex(row, space-between, flex-start);
        #name {
          margin: 0px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          color: #505050;
          font-size: 14px;
        }
        div {
          @include flex(column, center, center);
          p {
            margin: 0px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
          }
          div {
            @include flex(row, center, center);
            img {
              margin: 5px;
            }
          }
        }
      }
      hr {
        margin-top: 15px;
        width: 330px;
        height: 1px;
        background: rgba(34, 63, 128, 0.2);
      }
    }
    #title {
      margin: 0px;
      margin-top: 50px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: #4f4f4f;
    }
    #amount {
      margin: 0px;
      margin-top: 10px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      color: #4f4f4f;
    }
  }
}
