/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./assets/Inter/Inter-VariableFont_slntwght.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}

.mr-2 {
  margin-right: 20px;
}

.gain {
  color: #6BC640;
}

.loss {
  color: #FB5151;
}

.final {
  margin-bottom: 40px;
}

.coin {
  height: 30px;
  width: 30px;
}

.text-thin {
  font-weight: 400;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#portfolio {
  overflow: hidden;
  overflow-y: scroll;
}
#portfolio #topBar {
  border-bottom: 2px solid rgba(34, 63, 128, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#portfolio #topBar img {
  margin-left: 10px;
}
#portfolio #topBar p {
  margin: 15px;
  margin-left: 50px;
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #6a6a6a;
}
#portfolio #topBar #timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#portfolio #topBar #timer p {
  margin: 5px 20px 0px 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ff473f;
}
#portfolio #main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 727px;
  overflow-y: scroll;
}
#portfolio #main img {
  margin-top: 40px;
}
#portfolio #main .row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 288px;
}
#portfolio #main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#portfolio #main .row .column .content {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#portfolio #main .row .column .content p {
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: #4f4f4f;
}
#portfolio #main #row1 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 340px;
}
#portfolio #main #row1 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
}
#portfolio #main #row2 {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 300px;
}
#portfolio #main #row2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
}
#portfolio #main #row2 hr {
  width: 25px;
  height: 0px;
  border: 2px solid rgba(34, 63, 128, 0.2);
  transform: rotate(90deg);
}
#portfolio #main #row2 .rowContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#portfolio #main #row2 .rowContent img {
  margin: 5px;
}
#portfolio #main #row2 .rowContent #percentage {
  margin: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fb5151;
}
#portfolio #main .card {
  margin-top: 10px;
  width: 320px;
  height: 30px;
  background: rgba(34, 63, 128, 0.2);
  border-radius: 7px;
  padding: 10px 15px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#portfolio #main .card #left {
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#portfolio #main .card #left p {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #4f4f4f;
}
#portfolio #main .card #left img {
  margin: 0px;
  margin-left: 5px;
  margin-bottom: 4px;
  height: 24px;
  width: 18px;
}
#portfolio #main .card #middle {
  height: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
}
#portfolio #main .card #last {
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#portfolio #main .card #last #amount {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#portfolio #main .card #last #amount img {
  margin: 5px;
}
#portfolio #main .card #last #amount p {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
#portfolio #main .card #last #amount button {
  margin-left: 10px;
}
#portfolio #main #expand {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portfolio #main #expand .row {
  margin: 0px;
  width: 320px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#portfolio #main #expand .row #name {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #505050;
  font-size: 14px;
}
#portfolio #main #expand .row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portfolio #main #expand .row div p {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
#portfolio #main #expand .row div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#portfolio #main #expand .row div div img {
  margin: 5px;
}
#portfolio #main #expand hr {
  margin-top: 15px;
  width: 330px;
  height: 1px;
  background: rgba(34, 63, 128, 0.2);
}
#portfolio #main #title {
  margin: 0px;
  margin-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #4f4f4f;
}
#portfolio #main #amount {
  margin: 0px;
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #4f4f4f;
}/*# sourceMappingURL=portfolio.component.css.map */