@import "../../../../styles";

#fixedNav{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100vw;
  height: 69px;
  background: #FFFFFF;
  box-shadow: 0px -3px 14px 1px rgba(0, 0, 0, 0.1);
  @include flex(row,space-around,center);
}
