@import '../../../../styles';

#team{
    #topBar{
        border-bottom: 2px solid rgba(34, 63, 128, 0.4);
        @include flex(row,space-between,center);
        img{
            margin-left:10px;
        }
        p{
            margin:15px;
            margin-left:50px;
            margin-bottom:8px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #6A6A6A;
        }
        #timer{
            @include flex(row,space-between,center);
            p{
                margin:5px 20px 0px 5px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: #FF473F;

            }
        }
    }
    #main{
        @include flex(column,flex-start,center);
        height:800px;
        overflow-y:scroll;
        #fixed{
            padding:5px 20px;
            @include flex(row,space-between,center);
            position:fixed;
            bottom:30px;
            width: 185px;
            height: 44px;
            background: #223F80;
            border-radius: 10px;
            p{
                margin-right:10px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
            }
        }
        .row{
            width:390px;
            @include flex(row,space-between,center);
            #portion1{
                @include flex(row,space-around,center);
                img{
                    margin: 20px;
                }
                #info{
                    p{
                        padding:0px;
                        margin:5px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        color: #2D2D2D;
                    }
                    .num{
                        font-size: 15px;
                    }
                }
            }
            #portion2{
                padding-right:40px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #2D2D2D;
            }
        }
    }

}

