/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./Inter/Inter-VariableFont_slntwght.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}

.mr-2 {
  margin-right: 20px;
}

.gain {
  color: #6BC640;
}

.loss {
  color: #FB5151;
}

.final {
  margin-bottom: 40px;
}

.coin {
  height: 30px;
  width: 30px;
}

.text-thin {
  font-weight: 400;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#profile {
  overflow: hidden;
  width: 100vw;
}
#profile #topBar {
  width: 100%;
  border-bottom: 2px solid rgba(34, 63, 128, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#profile #topBar p {
  margin: 15px;
  margin-left: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #595959;
}
#profile #topBar #timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#profile #topBar #timer p {
  margin: 5px 20px 0px 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FF473F;
}
#profile #main {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profile #main #circle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 165px;
  height: 165px;
  border-radius: 100%;
  border: 10px solid rgba(34, 63, 128, 0.4);
}
#profile #main #circle p {
  margin: 0px;
}
#profile #main #circle #title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #223F80;
}
#profile #main #circle #yearNum {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  background: linear-gradient(90deg, #223F80 2.98%, #444584 26.65%, #A43936 101.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#profile #main #badgeStart {
  margin-top: 10px;
}
#profile #main .badgeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#profile #main .badgeRow img {
  margin: 2px 10px;
}
#profile #main #card {
  width: 125px;
  height: 177px;
  margin-top: 25px;
  background: #D9D9D9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}
#profile #main #desc {
  width: 164px;
  height: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #6A6A6A;
}
#profile #main #options {
  margin-bottom: 100px;
  padding: 5px 30px;
  width: 300px;
  height: 77px;
  background: #223F80;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#profile #main #options .option {
  height: 60px;
  width: 40px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profile #main #options .option img {
  margin-top: 5px;
}
#profile #main #options .option p {
  margin: 0px;
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
#profile #main #options #team img {
  margin-top: 0px;
}
#profile #main #options #team p {
  margin-top: 2px;
}
#profile #main hr {
  width: 55px;
  height: 0px;
  border-radius: 12px;
  border: 2px solid #FFFFFF;
  transform: rotate(90deg);
}/*# sourceMappingURL=profile.component.css.map */