@import '../../../../styles';

#notification{
    #topBar{
        border-bottom: 2px solid rgba(34, 63, 128, 0.4);
        @include flex(row,space-between,center);
        p{
            margin:15px;
            margin-left:100px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #595959;
        }
        #timer{
            @include flex(row,space-between,center);
            p{
                margin:5px 20px 0px 5px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: #FF473F;

            }
        }
    }
    #main{
        overflow:hidden;
        overflow-y: scroll;
        @include flex(column,center,center);
        .notif{
            width: 100vw;
            height: 94px;

            background: rgba(34, 63, 128, 0.7);
            mix-blend-mode: normal;
            border-bottom: 2px solid #FFFFFF;
            padding-left:50px;
            @include flex(row,flex-start,center);
            p{
                margin-left:20px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #FFFFFF;
            }
            .text-thin{
                font-weight: 400;
            }
        }

        .notif-extend{
            background: rgba(34, 63, 128, 0.1);
            mix-blend-mode: normal;
            border-bottom: 2px solid rgba(34, 63, 128, 0.5);
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #223F80;
            }

        }
        #fixedNav{
            position:fixed;
            bottom:0px;
            width:100vw;
            height: 69px;
            background: #FFFFFF;
            box-shadow: 0px -3px 14px 1px rgba(0, 0, 0, 0.1);
            @include flex(row,space-around,center);
        }
    }

}
