<div id="notification">
    <div id="topBar">
        <div></div>
        <p>Notification</p>
        <div id="timer">
            <img src="../../assets/images/Alarmclock.svg" alt="timer"/>
            <p>05:00</p>
        </div>
    </div>
    <div id="main">
        <div routerLink="/news"  class="notif">
            <img src="../../assets/images/Paper.svg" alt="paper"/>
            <p>
                Super breaking news | 2100
            </p>
        </div>
        <div routerLink="/portfolio" class="notif">
            <img class="coin" src="../../assets/images/coin.svg" alt="coin"/>
            <p class="text-thin">
                ₹1,00,000 of vittae coins has
                <br/> been credited
            </p>
        </div>
        <div routerLink="/team" class="notif notif-extend">
            <img src="../../assets/images/Group_fill.svg" alt="group"/>
            <p class="text-thin">
                Arya joined your team
            </p>
        </div>
        <div routerLink="/team" class="notif notif-extend">
            <img src="../../assets/images/Star.svg" alt="star"/>
            <p class="text-thin">
                You’ve been assigned as an Analyst
            </p>
        </div>
        <div id="fixedNav">
            <button routerLink="/profile">
                <img src="../../assets/images/User.svg" alt="User"/>
            </button>
            <button routerLink="/stocks">
                <img src="../../assets/images/Chart_alt.svg" alt="chart"/>
            </button>
            <button>
                <img src="../../assets/images/Message_alt_fill.svg" alt="message"/>
            </button>
        </div>
    
    </div>
</div> 
