/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./Inter/Inter-VariableFont_slntwght.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}

.mr-2 {
  margin-right: 20px;
}

.gain {
  color: #6BC640;
}

.loss {
  color: #FB5151;
}

.final {
  margin-bottom: 40px;
}

.coin {
  height: 30px;
  width: 30px;
}

.text-thin {
  font-weight: 400;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#notification #topBar {
  border-bottom: 2px solid rgba(34, 63, 128, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#notification #topBar p {
  margin: 15px;
  margin-left: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #595959;
}
#notification #topBar #timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#notification #topBar #timer p {
  margin: 5px 20px 0px 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FF473F;
}
#notification #main {
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#notification #main .notif {
  width: 100vw;
  height: 94px;
  background: rgba(34, 63, 128, 0.7);
  mix-blend-mode: normal;
  border-bottom: 2px solid #FFFFFF;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#notification #main .notif p {
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
#notification #main .notif .text-thin {
  font-weight: 400;
}
#notification #main .notif-extend {
  background: rgba(34, 63, 128, 0.1);
  mix-blend-mode: normal;
  border-bottom: 2px solid rgba(34, 63, 128, 0.5);
}
#notification #main .notif-extend p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #223F80;
}
#notification #main #fixedNav {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 69px;
  background: #FFFFFF;
  box-shadow: 0px -3px 14px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}/*# sourceMappingURL=notification.component.css.map */